.aboutlogo {
  display: flex;
  float: left;
  width: 105px;
  height: auto;
  margin-bottom: 100%;
}
.about {
  font-size: 24px;
  letter-spacing: 2px;
}
.aboutli {
  list-style: square;
  font-weight: bold;
}
