.footer1 .text {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  color: #bebbbb;
  line-height: 48px;
  font-weight: bold;
}
.footer1 {
  width: 100%;
  min-height: 48px;
  position: absolute;
  background-color: #ad2e24;
  /* #dc143c; */
  /* #2f4f4f */
}
.footer2 {
  width: 100%;
  min-height: 16px;
  position: relative;
  bottom: 0;
  background-color: #f4d35e;
}
