.hometxt {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.hero {
  /* min-height: 100vh; */
}

.news {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.newsimg {
  display: flex;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
