.hometxt {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.news {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.newsimg {
  display: flex;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.home {
  height: auto;
}
