html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 800px;
  font-family: 'Roboto', '微軟正黑體', Arial, '微軟正黑體';
  background-color: rgb(243, 243, 243);
}
#root {
  height: 100%;
}
/* Link*/
a {
  color: #484848;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #484848;
  text-decoration: none;
}

/*List*/
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 0px;
}
